header{
    background-color: rgb(74, 25, 119);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 48px;
    width: 100vw;
    box-shadow: 0px 0px 8px 0px rgb(25, 25, 26);
    position: relative;
}

header div{
    margin-left: 7px;
    font-size: 17px;
    font-weight: 500;
}

header img{
    width: 30px;
    margin-left: 15px;
}


header .peopleContainer{
    margin-left: 400px;
    margin: auto;
    width: 40vw;
    min-width: 370px;
    display: block;
}

header .peopleContainer input{
    height: 32px;
    width: 40vw;
    min-width: 370px;
    font-size: 14px;
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: rgb(250, 244, 255);
}



.peopleContainer .peoples{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: rgb(252, 251, 253);
    color: black;
    width: 39.5vw;
    min-width: 360px;
    display: none;
}

.peoples .people{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35px;
    font-size: 14px;
    font-weight: 450;
    padding-left: 4px;
}

.people:hover{
    cursor: pointer;
    background-color: rgb(230, 236, 253);
}

#logout{
    background-color: rgb(100, 50, 146);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    
    margin: 10px 15px;
    border: none;
    
}

#logout img{
    width: 23px;
    margin: auto;
}

#logout:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(228, 10, 28);
  }


header .avatar{
    border: 2px solid rgb(85, 79, 88);
    border-radius: 20px;
    background-color: rgb(6, 156, 136);
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    align-items: center;
    justify-content: center; 
}

.avatar:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.733);

}

.window{
    display: flex;
    flex-direction: row;
}

.left{
    width: 70px;
    min-width: 65px;
    height: 93.5vh;
    background-color: rgb(238, 244, 253);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.chatlogo{
    width: 88%;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.chatlogo img{
    width: 40px;
    margin-top: 5px;

}

.chatlogo h6{
    font-weight: 400;

}


/* hover styles */
.chatlogo{
    border-left: 3px solid rgb(100, 50, 146);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.middle{
    background-color: rgb(232, 240, 255);
    width: 380px;
    min-width: 235px;
    height: 93.5vh;
    box-shadow: 0 0 6px 0 rgba(91, 91, 94, 0.733);
    
}

.middle .mhead{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid rgba(100, 148, 237, 0.301);
}

.mhead h3{
    margin-left: 14px;
}

.mhead .logos{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 20px;
}

.mhead .logos img{
    width: 20px;
}

.mhead .logos img:hover{
    width: 21px;
    cursor: pointer;
}

.middle .meets{
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meets .meet{
    border-bottom: 1px solid rgba(100, 148, 237, 0.301);
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
}

.meet:hover{
    background-color: #fff;
}

.meet span:hover{
    font-weight: 500;
    cursor: pointer;
}


.meet img{
    width: 22px;
    margin-left: 5px;
    margin-right:2px ;
}

.meet span{
    font-size: 14px;
    
}

.right{
    background-color: rgb(245, 245, 245);
    width: 1100px;
    height: 93.5vh;
    box-shadow: 0 0 8px 0 rgba(110, 110, 110, 0.733);
    display: flex;
    flex-direction: column;
}

.right .rhead{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid rgba(142, 144, 146, 0.301);
    box-shadow: 0px 8px 6px -8px rgb(127, 246, 255);
}

.rhead .meettitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
}

.meettitle img{
    width: 25px;
}

.meettitle h3{
    margin-left: 4px;
    font-weight: 500;
    font-size: 18px;
}



.rheadlogos{
    margin: 0 4vw 0 auto;
}

.rheadlogos #vclogo{
    width: 35px;
    margin: auto;
    display: none;
}

.rheadlogos #vclogo:hover{
    cursor: pointer;
    width: 36.5px;

}


.right .msgarea{
    display: flex;
    flex-direction: column;
    height: 580px;
    margin: 0 4px 0 4px;
    overflow-y: scroll;
    padding-top: 10px;
    padding-right: 4px;
}

.welcome{
    font-size: 30px;
    margin: auto;
    color: rgb(104, 104, 104);
    
}

.msgarea .mymsg{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 20vw;
    overflow-wrap: break-word;
    height: fit-content;
    border-radius: 5px;
    padding: 8px 14px;
    margin: 2px 6vw 2px auto;
    background-color: rgb(162, 196, 221);
    font-size: 14px;
}

.user{
    font-size: 11px;
    font-weight: 500;
    color: rgb(48, 47, 47);
    margin-bottom: 5px;
}

.msgarea .sendermsg{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 20vw;
    overflow-wrap: break-word;
    height: fit-content;
    border-radius: 5px;
    padding: 8px 14px;
    margin: 2px auto 2px 6vw;
    background-color: rgb(113, 219, 196);
    font-size: 14px;
}

.right .rfoot{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 78px;
    margin-top: auto;
    padding-top: 5px;

}

.rfoot input{
    font-size: 14px;
    width: 60vw;
    max-width: 900px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 5px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 8px;
    background-color: rgb(250, 244, 255);
}

.rfoot .ficons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 59vw;
    max-width: 890px;
    margin-top: auto;
    margin-bottom: auto;

}

.send {
    width: 22px;
    margin-left: auto;

}

.send:hover{

    width: 25px;
    cursor: pointer;
}
.ficons .attach{
    display: flex;
}

.attach img{
    width: 22px;
    
}

.attach img:hover{
    width: 25px;
    cursor: pointer;
    filter: contrast(10);
}