*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

div .start{

    background-color: #019694 ;
    background-color: #22577E ;
    box-shadow: 0px 0px 8px 0px rgb(25, 25, 26);
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 48px;
}

div .start div{
    margin-left: 8px;
    font-size: 17px;
    font-weight: 500;
}

div .start img{
    width: 30px;
    margin-left: 18px;
}

div .start input{
    font-size: 14px;
    width: 40vw;
    height: 32px;
    margin-left: 400px;
    margin: auto;
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: rgb(250, 244, 255);
}

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 93.5vh;
    width: 100vw;
    max-width: 100%;
    background: linear-gradient(20deg,#68b8ed 30%,rgb(170, 235, 255));
    /* background-color: #b0fffc;  */
}

.components{
    margin: auto;
    background: #deedf5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;

}

.getstarted{
    height: 500px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.new{
    margin: 20px 0 20px 0;
    text-align: center;
    
}

.sg{
    margin: 20px 0 20px 0;
    text-align: center;

}

.btntxt{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 70px;
    color: rgb(10, 10, 10);
    
}


.home .homeimage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.home .homeimage img{
    width: 38vw;
    max-width: 750px;
    min-width: 30vw;
}
