

.videocontainer{
    height: 40vh;
    width: 50vw;
    border: 2px solid black;
}

button{
    margin: 2px;
    padding: 5px;
    border-radius: 20px;
}

video{
    height: 100%;
    width: 100%;
}