*{
  margin: 0;
  padding: 0;
}

.vc{
  background-color: #c5d9e0;
  background-color: #284c58;
  width: 100vw;
  height: 100vh;
}

video {
  width: 42vw;
  height: 31.5vw;
  margin: 2rem;
  /* background: #2c3e50; */
  background: #0c0c0c;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}